@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Opera and Edge/Firefox while maintaining smooth scrolling */
.no-scrollbar::-webkit-scrollbar,
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.no-scrollbar,
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
